:root{
    --lightblack : #252525 ;
    --orange : #ff7800 ;
    --yellow : #ffae00 ;
    --black : #000 ;
    --white :  #fff ;
}

.loader {
    border: 16px solid #ffc999; /* Light grey */
    border-top: 16px solid var(--orange); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    margin-top: 30vh;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

html{
    background-color: var(--yellow);
}